<h1>О проекте</h1>

<p>Для многих патриотов не секрет, что в России идет информационная война. С распада СССР и утилизации нашей пропагандистской машины, на смену приходит пропаганда с Запада. Запрет национальной идеологии по факту является утверждением либерализма. Уже более 20 лет происходит информационное избиение России и русского народа в целом. Пора дать отпор!</p>

<p>Я предлагаю составить каталог патриотичных сайтов рунета, которые дают неискаженный взгляд на события в мире. Прежде всего, это касается новостных сайтов и политических блогов. Я считаю, что основным критерием попадания в поиск «Сусанина» является патриотизм, желание видеть русскую цивилизацию сильной и процветающей.</p>

<p>Именно такие сайты индексирует «Сусанин». Здесь не место либертарианству и демократии.</p>

<p>С уважением, <a href="http://www.sergei-udalov.ru">Сергей Удалов</a></p>
