<h1>О проекте</h1>

<p>«Сусанин» - это не обычная поисковая система. В отличие от Яндекс или Google, «Сусанин» ищет только по <a href="/sites">выбранным сайтам</a>. Специализируется «Сусанин» на новостях, событиях и истории. Но зачем такие ограничения?</p>

<p>Для многих патриотов не секрет, что в России идет информационная война. С распада СССР и утилизации нашей пропагандистской машины, на смену приходит пропаганда с Запада. Уже более 20 лет происходит информационное избиение России и русского народа в целом. Именно поэтому нужно фильтровать область поиска.</p>

<p>Изначально буду считать, что весь рунет поражен. И только избранные сайты, один за одним буду включать в одобренный список.</p>

<h2>Отказ от ответственности</h2>
<ol>
  <li>Автор поисковой системы никак не связан с содержимых сайтов, которые отображаются в поисковиках.</li>
  <li>«Сусанин» вводит жесткие ограничения на включение сайтов в список. Никакой демократии, да. </li>
</ol>

<h2>Как работает поиск?</h2>

<p>Поиск работает на <a href="http://site.yandex.ru/" target="_blabk">движке Яндекс</a>. Я только составил каталог сайтов, по которому происходит поиск. Каждый желающий может создать свой "белый список" сайтов - и попросить Яндекс искать только по нему. Если же Вам понравится мой список - я буду только рад.</p>

<p>С уважением, <a href="http://www.sergei-udalov.ru">Сергей Удалов</a></p>
