<h1>Добавить сайт</h1>

<p>Каждый сайт, прежде чем попасть в поисковую систему «Сусанин», проходит ручную модерацию. Критерии отбора субъективные. Главным критерием является отсутствие на сайте русофобства, вредных проявлений либерализма, национализма и т.д.. Ничто противозаконное нам также не нужно.</p>

<p>Предложенные сайты публикуйте в комментариях.</p>
<br />
<br />


<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>

<script type="text/javascript">
  VK.init({apiId: 4202374, onlyWidgets: true});
</script>

<!-- Put this div tag to the place, where the Comments block will be -->
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*"});
</script>

