<h1>Сайты</h1>
<p>В поиске участвуют только отобранные сайты. Полный список:</p>

<pre>
http://beriozka-rus.livejournal.com
http://dbelyaev.ru
http://file-rf.ru
http://fpvestnik.ru
http://gazeta.eot.su
http://ipolk.ru
http://mixednews.ru
http://nstarikov.ru
http://patriot-blogpost.ru
http://politikus.ru
http://poznavatelnoe.tv
http://rusnod.ru
http://russia-review.ru
http://russian.rt.com
http://ruxpert.ru
http://telegrafist.org
http://www.fondsk.ru
http://www.odnako.org
http://www.russianpulse.ru
http://www.russiapost.su
http://www.sergei-udalov.ru
http://www.warandpeace.ru
</pre>

<p><%= link_to "Добавить сайт", add_site_path, :class => "btn btn-primary" %></p>
