<h1>Сайты</h1>
<p>В поиске участвуют только отобранные сайты. Полный список:</p>

<pre>
27sev.com
andreyfursov.ru
beriozka-rus.livejournal.com
continentalist.ru
contrpost.com
dbelyaev.ru
eot.su
file-rf.ru
fpvestnik.ru
gazeta.eot.su
ipolk.ru
kremlin.ru
mixednews.ru
nstarikov.ru
patriot-blogpost.ru
pereformat.ru
perevodika.ru
politikus.ru
poznavatelnoe.tv
r-v-s.su
rusnod.ru
ruspravda.info
russia-review.ru
russian.rt.com
ruxpert.ru
sdelanounas.ru
telegrafist.org
voprosik.net
worldcrisis.ru
www.fondsk.ru
www.odnako.org
www.russianpulse.ru
www.russiapost.su
www.sdelanounih.ru
www.sergei-udalov.ru
www.sevastopol.su
www.warandpeace.ru
концептуал.рф
</pre>

<p><%= link_to "Предложить сайт", add_site_path, :class => "btn btn-primary" %></p>
