<h1>Сайты</h1>
<p>В поиске участвуют только отобранные сайты. Полный список:</p>

<pre>
beriozka-rus.livejournal.com
continentalist.ru
dbelyaev.ru
file-rf.ru
fpvestnik.ru
gazeta.eot.su
ipolk.ru
kremlin.ru
mixednews.ru
nstarikov.ru
patriot-blogpost.ru
politikus.ru
poznavatelnoe.tv
rusnod.ru
russia-review.ru
russian.rt.com
ruxpert.ru
telegrafist.org
voprosik.net
worldcrisis.ru
www.fondsk.ru
www.odnako.org
www.russianpulse.ru
www.russiapost.su
www.sergei-udalov.ru
www.warandpeace.ru
</pre>

<p><%= link_to "Предложить сайт", add_site_path, :class => "btn btn-primary" %></p>
