<h1>Статистика</h1>
<p>
  <a href="http://info.flagcounter.com/LTb3"><img src="http://s05.flagcounter.com/count/LTb3/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_250/viewers_3/labels_1/pageviews_0/flags_0/" alt="Flag Counter" border="0"></a>
</p>
