<h1>Статистика</h1>
<p>
<a href="http://top.mail.ru/visits?id=2476865#back=30" target="_blank"><img src="http://top.mail.ru/visits.png?id=2476865&period=0&date=&back=30&" style="border: 0px" /></a>
</p>
<h2>Страны</h2>
<p>
  <a href="http://info.flagcounter.com/LTb3"><img src="http://s05.flagcounter.com/count/LTb3/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_250/viewers_3/labels_1/pageviews_0/flags_0/" alt="Flag Counter" border="0"></a>
</p>
