<h1>Сайты</h1>
<p>В поиске участвуют только отобранные сайты. Полный список:</p>

<pre>
<% if @new_sites.present? %>
Новые сайты:
  <% @new_sites.order(:address).each do |site| %>
<%= site.address %>
  <% end %>
<% end %>

  <% @sites.order(:address).each do |site| %>
<%= site.address %>
  <% end %>
</pre>

<p><%= link_to "Предложить сайт", add_site_path, :class => "btn btn-primary" %></p>
